<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <h1 id='question'>
            <%= question %>
        </h1>

        <h2 id='categorie'>
            <%= categorie %>
        </h2>

        <p>
            ID énigme: <div style="display:inline-block;" id='idEnigme'><%= id %></div> 
        </p>


        <p id='explication'>
            <%= explication %>
        </p></br>

        <img src="<%= cheminImage %>" id='image' style="max-width: 100px; width:100%"/> </br>

        <reponse id='reponseA' class="<%= reponses[0].value %>">
            <button id='boutonA'>
                <%= reponses[0].name %>
            </button>
        </reponse>

        <reponse id='reponseB' class="<%= reponses[1].value %>">
            <button id='boutonB'>
                <%= reponses[1].name %>
            </button>
        </reponse>

        <reponse id='reponseC' class="<%= reponses[2].value %>">         
            <button id='boutonC'>
                <%= reponses[2].value %>
            </button>
        </reponse></br>


        <div></div>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        <script src="/socket.io/socket.io.js"></script>
        <%- include('../partials/client'); %>
        
    </body>

</html>

